{% extends 'base.html' %}

{% block title %}Your Today's Report 😉{% endblock %}

{% block content %}
<div id="content" class="report-page">
    <div class="report-table">
        <h1>Your Today's Report 😀</h1>
        <table>
            <thead>
				<tr>
					<th>Num</th>
					<th>Problem</th>
					<th>Correct Answer</th>
					<th>Your Answer</th>
				</tr>
		</thead>
		<tbody>

			{% for problem in problems %}
			<tr class="{% if problem.status == 'correct' %}correct{% elif problem.status == 'incorrect' %}incorrect{% elif problem.status == 'timeout' %}timeout{% elif problem.user_answer == None %}no-answer{% endif %}">
				<td>{{ forloop.counter}}</td>
				<td>{{ problem.problem }}</td>
				<td>{{ problem.correct_answer }}</td>
				<td>
					{% if problem.status == 'correct' %}
						{{ problem.user_answer }} --> 👍 👌 ✔
					{% elif problem.status == 'incorrect' %}
						{{ problem.user_answer }} (😥Wrong😥)
					{% elif problem.status == 'timeout' %}
						⏳Timeout⏳
					{% else %}
						🙉No Answer🙉
					{% endif %}
				</td>
			</tr>
        {% endfor %}
		</tbody>
        </table>
    </div>
    <div class="report-statistics">
        <h3>😉 Total Count 😉     : {{ Total_count }}</h3>
        <h3>🤩 Correct Answers 🤩 : {{ correct_count }}</h3>
        <h3>😥 Wrong Answers 😥   : {{ wrong_count }}</h3>
        <h3>⏳ Timeouts ⏳         : {{ timeout_count }}</h3>
        <h3>Note: {{ note }}</h3>
    </div>
</div>
{% endblock %}