{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.3">
    <!-- Additional head elements can be placed here -->
</head>
<body>
    <div id="wrapper">
        {% include 'slidebar.html' %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>