{% load static %}

<!-- Sidebar toggle button -->
<div id="sidebar-toggle">☰</div>

<!-- Sidebar -->
<div id="sidebar">
    <!-- Navigation Menu -->
    <ul>
        <li><a href="/Jobs/">Home</a></li>
        <!-- Add other app-specific links here -->
        <!-- Example:
        <li><a href="{% url 'math_home' %}">App 1</a></li>
        <li><a href="{% url 'math_home' %}">App 2</a></li>
        -->
        <!-- More links for other apps can be added here -->
    </ul>
</div>

<script>
// Add event listener to ensure the script runs after the DOM is fully loaded
document.addEventListener('DOMContentLoaded', function() {
    var sidebar = document.getElementById('sidebar');
    var sidebarToggle = document.getElementById('sidebar-toggle');

    sidebarToggle.addEventListener('click', function() {
        // Use 'window.getComputedStyle' to get the actual value of 'left' as 'style.left' relies on inline styles
        var sidebarLeft = window.getComputedStyle(sidebar).left;
        if (sidebarLeft === '0px') {
            sidebar.style.left = '-250px';
        } else {
            sidebar.style.left = '0px';
        }
    });
});
</script>